* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IRANYekanX-Regular";
  font-size: 1rem;
  border: none;
}

@font-face {
  font-family: "IRANYekanX-Regular";
  src: url(font/IRANYekanXFaNum-Regular.woff2);
}

@font-face {
  font-family: "IRANYekanX-Bold";
  src: url(font/IRANYekanXFaNum-Bold.woff2);
}

.active {
  animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.deactive {
  animation: fade-out 0.5s forwards;
  display: none;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  min-height: 100svh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  text-align: center;
}

form {
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

.container {
  width: clamp(320px, 90svw, 480px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

.container > p {
  margin-bottom: 30px;
}

#default-users {
  margin-top: 20px;
}

#users-information {
  width: 100%;
  margin-top: 20px;
  line-height: 1.5rem;
}

.login-register-input {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  outline: none;
}

#remember-me-and-password-recovery-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 30px;
}

#remember-me-container {
  display: flex;
}

#remember-me-container input {
  margin-left: 5px;
}

#remember-me-container input,
#remember-me-container label {
  cursor: pointer;
}

.btn {
  width: 50%;
  background-color: #eee;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 50px;
  cursor: pointer;
}

.btn:active {
  background-color: #ddd;
}

#register-btn {
  margin-top: 30px;
}

#exit-btn,
#acknowledge-btn,
#ps-back-btn {
  margin: 0;
}

.social-networks-login-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-networks-login-register > p {
  margin-bottom: 10px;
}

.fa {
  background-color: #eee;
  color: #000;
  padding: 20px;
  margin: 0 2px 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

#users-information-container {
  width: clamp(320px, 90svw, 480px);
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-top: 20px;
  line-height: 1.5rem;
}

.reset-btn {
  width: clamp(320px, 90svw, 480px);
  margin-top: 20px;
}

#fp-inputs {
  width: 100%;
}

#fp-text {
  line-height: 1.5rem;
}

.fp-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#fp-validate-btn,
#fp-password-change-btn {
  width: 59%;
}

#fp-back-btn,
#fp-back-btn-2 {
  width: 36%;
  text-align: center;
}

#fp-validate-btn,
#fp-back-btn,
#fp-back-btn-2,
#fp-password-change-btn {
  margin-top: 30px;
  margin-bottom: 0px;
}

@media (width <= 480px) {
  #remember-me-and-password-recovery-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 30px;
  }

  #remember-me-container {
    display: flex;
    margin-bottom: 15px;
  }
}
